/*Root*/
:root{
    --main_bcg: #f6f8f9;
    --editorials_bcg: #45abe9;
    --q1_goals_bcg: #9c72e4;
    --recruiting_bcg: #64c0a8;
    --mobile_bcg: #f29e33;
    --website_bcg: #d863a0;
    --sales_bcg: #b0c926;
    --task_color: #47adf1;
    --internal_bcg: white;
    --section_border: #d1d6da;
    --check_color: #9bd9cc;
    --cross_color: #ee7e79;
}

/*Common*/

body{
    margin: 0;
}
main{
    background-color: var(--main_bcg);
    padding-top: 30px;
}

.container{
    width: 80%;
    margin: 0 auto;
    background-color: var(--internal_bcg);
}

/*Header*/

#logo{
    vertical-align: middle;
    padding: 10px 0px 10px 20px
    
}

h1{
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 5px;
    font-size: 2.5rem;
}

/*Buttons*/

#buttons{
    width: 80%;
    margin: 0 auto;
    background-color: var(--internal_bcg);
    padding: 10px 0px 5px 30px;
    border: 1px solid var(--internal_bcg);
    border-radius: 3px 3px 0 0;
    margin-bottom: 3px;
}

.add_task{
    background-color: var(--task_color);
    border: 1px solid var(--task_color);
    border-radius: 5px;
    color: white;
    padding: 3px;
}

.add_section{
    background-color: var(--internal_bcg);
    border:1px solid var(--section_border);
    border-radius: 5px;
    color: var(--section_border);
    padding: 3px;
}

/*List*/

#list{
    padding: 10px 0 10px 30px;
    border: 1px solid var(--internal_bcg);

}
.ul_reset{
    list-style: none; 
    padding-inline-start: 0px;
        
}
.main_li{
    font-size: 1.5rem;
}

.li_item{
    padding-left: 10px;
    padding: 10px;
}

.check{
    color: var(--check_color);
    border: 1px solid currentColor;
    border-radius: 50%;
    height: 0.8rem;
    width: 0.8rem;
    font-size: 0.8rem;
    text-align: center;
    line-height: 0.8rem;
    display: inline-block;

}

.cross{
    color: var(--cross_color);
    display: inline-block;
    border: 1px solid currentColor;
    border-radius: 50%;
    height: 0.8rem;
    width: 0.8rem;
    text-align: center;
    line-height: 0.8rem;
    font-size: 0.8rem;
}

/*Etichette*/

.editorial{
    color: white;
    background-color: var(--editorials_bcg);
    padding: 4px;
    font-size: 0.5rem;
    border-radius: 10px;
}

.q1_goals{
    color: white;
    background-color: var(--q1_goals_bcg);
    padding: 4px;
    font-size: 0.5rem;
    border-radius: 10px;
}

.recruiting{
    color: white;
    background-color: var(--recruiting_bcg);
    padding: 4px;
    font-size: 0.5rem;
    border-radius: 10px;
}

.mobile{
    color: white;
    background-color: var(--mobile_bcg);
    padding: 4px;
    font-size: 0.5rem;
    border-radius: 10px;
}

.website{
    color: white;
    background-color: var(--website_bcg);
    padding: 4px;
    font-size: 0.5rem;
    border-radius: 10px;
}

.sales{
    color: white;
    background-color: var(--sales_bcg);
    padding: 4px;
    font-size: 0.5rem;
    border-radius: 10px;
}

